html {
	overflow: auto;
	background-color: rgb(11, 0, 36) !important;
}

body {
	min-height: 100vh;
	padding: 0 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 50px;
	background-color: inherit;
	color: white;
}

thead {
	border-bottom: 1px solid white;
}

/* main sections */

#main {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
	height: 100%;
	width: 40vw;
}

#hud {
	display: flex;
	flex-direction: column;
	min-width: 400px;
	max-height: 80vh;
	width: 30vw;
	overflow: auto;
}

#settings {
	display: flex;
	flex-direction: column;
	width: 30vw;
	overflow: auto;
	gap: 1.5rem;
}

/* end main sections */

#main #canvas {
	border: 1px solid rgb(65, 62, 112);
}

#main #canvas:focus {
	border: 1px solid hsl(160, 60%, 60%);
}

#controls {
	color: white;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 30px;
}

#playing {
	display: none;
}

#paused {
	display: inline-block;
}

#index {
	border: 1px solid white;
	border-radius: 4px;
	padding: 0.5em 1em;
	text-align: center;
	min-width: 280px;
	overflow: auto;
	color: white;
}

#index-data {
	border-collapse: collapse;
}

#index-data-fields > td.sort-by {
	font-weight: bold;
}

#index-data-rows > tr:hover {
	cursor: pointer;
	background: white;
	color: rgb(11, 0, 36);
}

#index-data-rows > tr > td {
	padding: 0.3em 0.7em;
}

#selection-info {
	display: none;
	border: 1px solid white;
	border-radius: 3px;
	padding: 0 1em 0.5em 1em;
	text-align: center;
	overflow: visible;
	color: white;
	margin-bottom: 1em;
}

#selection-info.show {
	display: inline-block;
}

#selection-info-display {
	width: 100%;
}

#selection-info-data-values td {
	min-width: 4.5em;
}

.d-none {
	display: none;  
}

.superscript {
	vertical-align: super;
	font-size: 0.6em;
	position: relative;
	top: -0.5em;
}

.w-4 {
	width: 4em;
}