body {
	background-color: rgb(11, 0, 36);
}

#main {
	border: 1px solid black;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

#main #canvas {
	border: 1px solid rgb(65, 62, 112);
}

#controls {
	
	color: white;
}

#playing {
	display: none;
}

#paused {
	display: inline-block;
}